@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
#content{
    min-height:100vh;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
}
img{
    height: 60px;
}
.tabs{
    position: sticky;
    top: 0px;
}
div>ul{
    list-style: none;
    display: flex;
    padding: 5px;
    gap:40px;
    font-size: 1.2rem;
    color:white;
    background-color: rgb(6, 6, 204);
    justify-content: center;
    font-weight: bold;
}
header{
    background-color: rgb(6, 6, 204);
    padding: 5px;
    display:grid;
    grid-auto-rows: min-content;
    justify-items: center;
    gap:5px;
}
main{
    /* background-color: rgb(252, 232, 232); */
    background-image: url(./images/img_freepik_com-bubbles-seamless-pattern-blue_1284-43368\ \(1\).jpg);
    background-size: 330px;
    padding: 40px 0px;
}
section{
    border:2px solid black;
    width: fit-content;
    padding: 15px;
    margin: 10px auto;
    background-color: rgba(255,255,255,0.9);
} 
section>img{
    height: 180px;
    width: auto;
}
div>ul>li{
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
div>ul>li:hover{
    color: rgb(143, 144, 229);
    position:relative;
    bottom: 3px;
}
div>ul>li:active{
    color: rgb(68, 88, 204);
}
div>ul>li.active{
    border-bottom: 2px solid white;
    transition: 100ms ease-in-out;
    position: relative;
    bottom: 3px;
}
.policies h2{
    margin-bottom: 10px;
}
.policies li{
    list-style-image: url("./images/burger-svgrepo-com-2.svg");
    list-style-position: inside;
    font-size: 1.2rem;
}
.policies{
    width:50%;
}
.policies li+li{
    margin-top:10px;
}
.menu{
    border:none;
    width:min(80%);
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap:20px;
    background-color: rgba(255,255,255,0);
    padding:0;
}
.menu>div{
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 10px;
    border:solid black 2px;
}
.menu>div:hover{
    transform: scale(1.05);
    transition: 150ms ease-in-out;
}
.menu img{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 150px;
    width: auto;
}
.contact>div{
    display: flex;
    align-items: center;
    gap:5px;
}
.contact>div>img{
    height: 40px;
}
.contact>img{
    height: 360px;
}
form>div{
    display: grid;
    grid-template-columns: 80px 65%;
    margin-top: 10px;
}
textarea{
    height: 80px;
    resize: none;
}
input,
textarea{
    padding: 3px;
    font-size: 1rem;
}
form button{
    padding: 5px 10px;
    background-color: blue;
    color:white;
    font-weight: bold;
    border: solid white 2px;
}
form button:hover{
    background-color: rgb(27, 148, 189);
}
form button:active{
    background-color: rgb(3, 3, 184);
}