@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
#content{
    min-height:100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}
img{
    height: 65px;
}
ul{
    list-style: none;
    display: flex;
    gap:20px;
    color:white;
    justify-content: flex-end;
    font-weight: bold;
    flex:1;
}
header{
    background-color: rgb(247, 83, 62);
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
main{
    background-color: rgb(252, 232, 232);
}
section{
    border:2px solid black;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
} 
section>img{
    height: 180px;
    width: auto;
}